
header {
  background-color: var(--primary);
  width: 100%;
  
}

/* header a{
  color: white;
} */

/* header h3 {
  color: white;
  cursor: pointer;
} */

/* header .container {

  display: flex;
  justify-content: space-between;
  align-items: center;
  height:40px;
} */


/* header .container_links{
  display: flex;
  gap: 10px;
}

header .container_links_link{
  display: inline;
} */



